<footer class="site-footer container">
    <nav class="footer-nav">
        {{navigation type="secondary"}}
    </nav>
    <div class="copyright">
        Made with ❤ by <strong>lux.minima</strong>
    </div>
</footer>
