{{!< default}}

<div class="content-area">
    <main class="site-main">
        {{#post}}
            {{> content width="wide"}}
        {{/post}}
        {{#if @member}}
        <div id="create">
        <img style="max-height:200px; margin:auto;" v-bind:src="img_url">
        <form id="pressrelease" @submit="startCreate" class="contact-form container small">
            <label>
                <input value="{{member.email}}" type="hidden" name="email">
                <!-- <input value="{{member.uuid}}" type="hidden" name="id"> -->
            </label>
            <label>
                <h3>Image URL</h3>
                <input v-model="img_url" class="text-full" type="text" name="url" autocomplete="off" required>
            </label>
            <label>
                <h3>Title</h3>
                <input class="text-full" style="" maxlength="30" type="text" name="title" autocomplete="off" required>
            </label>
            <label>
                <div id="editor-container">
                  <div id="editor"></div>
                </div>
                <textarea name="content" style="display:none" id="hiddenArea"></textarea>
            </label>
            <button v-on:click="startCreate()" class="button" type="submit">Submit</button>
        </form>
        </div>
        <script>



        var app = new Vue({
          el: '#create',
          data: {
            img_url: 'https://prismflower.xyz/content/images/2020/12/256_trans.png',
            email: '{{member.email}}',
            uuid: '{{member.uuid}}',
            title : "",
            content : "",
            img_url : ""
          },
          methods : {
            startCreate() {
              // Send JSON to server via socket.io
              if (title = "") {

              } else {
                console.log(this.email+" "+this.uuid)
                //handle quil editor if html enabled

              }
            }
          }
        })
        </script>
        {{/if}}
    </main>
</div>
