{{!< default}}

<div id="chat" class="content-area">
    <main class="site-main">
        {{#post}}
            {{> content width="wide"}}
        {{/post}}
        {{#if @member}}
        <div class="user">
          <div v-for="usr in room" class="container small">
            <h3><span class="user-label"></span> \{{usr}}</h3>
          </div>
        </div>
        <div class="container small chat-container">
          <div v-for="msg in chat" class="">
            <div v-html="msg" class="">

            </div>
          </div>
        </div>
        <div class="container small ultra-small">
          <!-- <h3>Message</h3> -->
          <input maxlength="80" v-model="message" v-on:keyup.enter="sendMessage(message)" type="text">
          <button style="margin-left:15px" class="button" v-on:click="sendMessage(message)">Send</button>
        </div>
        <script>
        var app = new Vue({
          el: '#chat',
          data() {
            return {
              //socketio
              socket: {},
              user: "{{member.name}}",
              room: [],
              message: "",
              chat: [],
            }
          },
          created() {
            this.socket = io("https://mandarine-server.herokuapp.com"); //http://localhost:3000
          },
          mounted() {

            this.socket.on("log", data => {
              //connection confirm
              console.log(data);

              this.socket.emit("getusr", this.user);

              this.socket.on("getroom", data => {
                this.room = data;
                console.log("- An user joined the room !");
              });

              this.socket.on("getchat", data => {
                this.chat = data;
                // console.log("- poke !")
              });

            });
          },
          methods : {
            sendMessage(msg) {
              // alert("action verified")
              msg = this.user + ": " + msg;
              this.message = "";
              this.socket.emit("getmsg", msg);
            },
          }
        })
        </script>
        {{else}}
            <script>window.location = '{{@site.url}}/account/#/portal/signin';</script>
            <div class="account-profile">
                <h2 class="account-name">You need to be connected to access <strong>Chat</strong> page !</h2>
                <button style="margin-top:2rem" class="button account-button menu-item members-login gh-portal-close" data-portal="signin">Login / Register </button>
            </div>
        {{/if}}
    </main>
</div>
