#chat {
  margin: auto
}
.chat-msg {
  display: flex;
}
.chat-input {
  flex-grow: 1;
}
.chat-container {
  height:320px;
  max-height:320px;
}
.user {
  /* text-align: center; */
}
.user-label {
  width:10px;
  height:10px;
  display:inline-block;
  color: var(--white-color);
  padding: 2px 5px;
  font-size: 1.2rem;
  background-color:var(--green-color);
}
.admin-text {
  color: var(--brand-color);
  font-weight: bold;
}

@media (max-width: 575px) {
  .chat-container {
    height:auto;
    max-height:auto;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .chat-container {
    height:auto;
    max-height:auto;
  }
}

@media (min-width: 768px) and (max-width: 991px) {

}

@media (min-width: 992px) and (max-width: 1199px) {

}

@media (min-width: 1200px) {

}
