.bottom {
  height: 60px;
  width: 100%;
  position: relative;
  /* margin-top: 2rem; */
}
.bottom .ilerleme_yazi {
  position: absolute;
  color: var(--brand-color);
  font-size: 25px;
  padding: 15px 0 0 0;
  text-align: center;
  width: 100%;
  font-weight: 600;
}

.bottom .ilerleme_cubuk {
  height: 5px;
  background: var(--light-gray-color);
  position: absolute;
  left: 70px;
  right: 70px;
  /* top: 50px; */
  overflow: hidden;
}

.bottom .ilerleme_cubuk .dolum {
  position: absolute;
  left: 0;
  width: 0%;
  height: 100%;
  background: var(--brand-color);/*bar color*/
}

@media (max-width: 767px) {
    .sticky-title {
        font-size: 1.4rem;
        font-weight: 700;
    }
}
